body {
    font-family: 'Arial', sans-serif; /* Une police simple mais peu utilisée */
    color: #FFFFFF; /* Texte en blanc */
    background-color: #6C3428; 
}

.home-container {
    text-align: center;
    padding: 20px;
}

.info-box {
    background-color: #E48F45; /* Fond orange */
    padding: 20px;
    margin: 20px auto;
    width: 300px;
    border-radius: 10px;
}

.info-box h1, .info-box p {
    color: #E48F45; /* Texte marron */
}

.navigation-buttons button {
    background-color: #994D1C; /* Boutons marron */
    color: #FFFFFF;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.navigation-buttons button:hover {
    background-color: #E48F45;
}